COMPOSE_PROJECT_NAME=flooks
POSTGRES_DB=flooks_meta
POSTGRES_ANALYTICS_DB=flooks_meta
POSTGRES_USER=flooks
POSTGRES_PASSWORD=flooks
FLOOKS_DATABASE_URL=postgresql+psycopg://flooks:flooks@localhost:5432/flooks_meta
FLOOKS_ANALYTICS_DATABASE_URL=postgresql+psycopg://flooks:flooks@localhost:5432/flooks_meta
FLOOKS_API_PORT=8000
FLOOKS_WEB_PORT=5173
REDIS_PORT=6379
FLOOKS_BOOTSTRAP_DEV_ANALYTICS=false
